.statistics-eligible-countries-container {
    .about-us-container {
      height: auto;
      background-image: unset;
      .text-container {
        position: relative;
        width: unset;
      }
      .body {
        font-size: 15px!important;

        div {
          margin-bottom: 10px;
        }
      }
    }
  }