$bordo : #a10532;
$white: #FFFFFF;
$dark-blue: #212B51;
$dark-gray: #3d343b;
$dark-green: #6CBF20;
$dark-red: #A40D38;
$light-gray: #FAFAFB;

$font_huge: 88px;
$font_xxxxxxxxxxxxxxxxxxl: 74px;
$font_xxxxxxxxxxxxxxxxxl: 60px;

$font_xxxxxxxxxxxxxxxxl: 56px;
$font_xxxxxxxxxxxxxxl: 52px;

$font_xxxxxxxxxxxl: 46px;
$font_xxxxxxxxxxl: 40px;
$font_xxxxxxxxxl: 36px;
$font_xxxxxxxl: 32px;
$font_xxxxxxl: 30px;
$font_xxxxxl: 28px;
$font_xxxxl: 26px;
$font_xxxl: 24px;
$font_xxl: 22px;
$font_xl: 20px;
$font_l: 18px;
$font_m: 16px;
$font_s: 14px;
$font_xs: 12px;
$font_xxs: 10px;
$font_xxxs: 8px;
$font_xxxxs: 6px;

@mixin setGrid($columns, $columns-gap, $rows, $rows-gap, $type) {
    display: grid;
    @if ($type == 'columns') {
      grid-template-columns: $columns;
      grid-column-gap: $columns-gap;
    } @else if ($type == 'rows') {
      grid-template-rows: $rows;
      grid-row-gap: $rows-gap;
    } @else if ($type == 'both') {
      grid-template-columns: $columns;
      grid-column-gap: $columns-gap;
      grid-template-rows: $rows;
      grid-row-gap: $rows-gap;
    }
  }

  .MuiSelect-select{
    width:100%
  }

  // @font-face {
  //   font-family: 'Poppins-Medium';
  //   src: local('Poppins-Medium'), url(./assests/fonts/Poppins-Medium.ttf) format('ttf');
  // }


// $font-style-regular: FuturaPT-Book;
//$font-style-medium: Poppins-Medium;
// $font-style-bold: FuturaPTBold;
// $font-style-demi: FuturaPT-Demi;