.users-list-container{
    width: 70%;
    padding-top: 20px;
    margin: auto;
    .COMPLETED{
        color: green;
    }
    .PENDING{
        color: orange;
    }
    .actions-container{
        div{
            display: contents;
            padding: 0 5px;
        }
    }
}