.application-stepper-container{
    width : 60%;
    margin: auto;

    .MuiStepLabel-labelContainer{
        text-align: left;
        .MuiStepLabel-label {
            font-weight: bolder;
        }
    }
    .actions-container{
        text-align: right;
        margin-top: 20px;
    }
    
}
.header-container{
.header{
    background-color: #212b51;
    border-style: solid;
    border-color: #a10532;
    border-top-width: 3px;
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    border-right: 0;
    color: white;
    border-left: 0;
    position: 'relative';
}
.header-content-container{
    width: 100%;
    display: flex;
    display: flex;
    justify-content: space-between;
}
}