.registration-container{
    margin: auto;
   margin-top: 0;
    .register-body{
        // width:70%;
        // margin:auto;
        padding: 10%;
    }
    .select-input{
        width: 100%;
    }
}