@import "../../variables";

.main-page-container {
  a {
    text-decoration: none;
  }
  .wrapper {
    padding: 1rem 0 6rem 0;
    position: relative;
    z-index: 1;
  }
  .inner {
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
  }
  header.special {
    text-align: center;
    margin-bottom: 4rem;
  }
  .goto-faq {
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
  }
  .consultation-section {
    background-image: url("../../assests/images/home-back.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 129%;
    height: 830px;
    width: 100%;
    color: $white;
    font-weight: bold;
    height: 600px;

    .layer {
      //background-color: rgba(185, 15, 255, 0.2);
      background-color: rgba(203, 77, 255, 0.2);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .us-dv-text-container {
      height: 25%;
      margin: 4% 10% 10% 10%;
      .text {
        font-size: $font_xl;
      }
      .prof {
        font-weight: 400;
        margin-bottom: 20px;
      }
      .need {
        font-weight: 600;
      }
      .us-dv-header-text {
        font-weight: 600;

        font-size: $font_xxxxxxxxxxxl;
        .usa-dv-text {
          font-weight: 600;

          font-size: $font_xxxxxxxxxxxxxxxxxxl;
          font-family: Poppins-SemiBold;
        }
      }
    }
    .btns-container {
      margin-top: 55px;
      .link-item {
        padding: 0 30px;
        width: 35%;
        padding-left: 0;
        max-width: 200px;
        &.apply-now-btn {
          button {
            background-color: $dark-green;
          }
        }
        &.contact-us-btn {
          button {
            background-color: $dark-red;
          }
        }
      }
    }
    .us-dv-header {
      font-size: 65px !important;
      font-family: serif;
      font-weight: bolder;
    }
    .text {
      font-size: 3rem;
    }
  }
  .icon-container {
    image {
      height: 65px;
      width: 65px;
      border-radius: 28px;
    }
  }
  .how-do-we-help {
    background-color: $light-gray;
    .description-container {
      margin: auto;

      max-width: 544px;

      text-align: center;

      .title {
        font-weight: 600;
        font-size: $font_xxxxxxxxxxxxxxl;
        padding-top: 70px;
        margin-bottom: 20px;
      }
      .body {
        font-weight: 400;
        line-height: 2rem;
      }
    }
  }
  .categories-cards-container {
    // max-width: 61%;
    margin-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    .card-container {
      width: 470px;
      .customer-care {
        border-bottom: solid 2px $bordo;
      }
    }
    .text {
      margin-top: 10px;
      font-size: $font_xxl;
      font-weight: 600;
    }
    .sub-text {
      margin-top: 10px;
      font-size: $font_l;
      opacity: 0.6;
      line-height: 1.5rem;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
    }
    .more-info {
      width: 100%;
      color: $bordo;
      margin-bottom: 20px;
      font-weight: bolder;
    }
    .more-info:after {
      content: "\2794";
      transition: 0.3s;
      margin-left: 5px;
    }
    .icon-container {
      width: 100%;
      margin: auto;
      margin-bottom: 25px;
      margin-top: 25px;
      .icon-img {
        height: 72px;
        width: 70px;
      }
      .MuiSvgIcon-root {
        margin: auto;
        color: white;
      }
    }
  }

  .live-work {
    padding-top: 80px;
    // background-color: $light-gray;
    background: linear-gradient(to right, $light-gray 0%, $light-gray 35%, white 35%, white 100%);
    // padding: 5% 15% 0 15%;
    width: 70%;
    padding: 5% 13% 0 13%;
    display: flex;
    .text-container {
      // padding-left: 50px;
      .link-item {
        &.contact-us-btn {
          button {
            background-color: $bordo;
            width: 200px;
          }
        }
      }
      .title {
        font-size: $font_xxxxxxxxxxxl;
        font-weight: 600;
      }
      .body {
        font-size: $font_xxl;
        line-height: 2rem;
        opacity: 0.8;
        font-weight: 400;
        height: 380px;
        overflow-y: auto;
        margin-bottom: 10px;
      }
      .body::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      .body::-webkit-scrollbar:vertical {
        width: 11px;
      }

      .body::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    .image-container {
      // width: 330%;
      .vertical-us-dv {
        color: #f5f5f5;
        letter-spacing: 15px;
        font-size: 50px;
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(180deg);
        white-space: nowrap;
        display: block;
        bottom: 0;
        height: 70%;
      }
      height: 510px;
      .passport-image {
        height: 100%;
        display: flex;
        width: 90%;
      }
      .employes-img {
        position: absolute;
        margin-top: -150px;
        left: 14%;
        width: 19%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
  .our-success-stories {
    margin-top: 150px;
    .title-container {
      text-align: center;
      .title {
        font-size: $font_xxxxxxxxxxxxxxl;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .sub-title {
        margin: 0 36%;
        line-height: 1.5rem;
        font-weight: 400;
      }
    }
    .our-success-stories-slider {
      padding-top: 50px;
      padding-bottom: 70px;
      display: flex;
      width: 70%;
      margin: auto;
      .slider-items-container {
        width: 100%;
        .current-page {
          // margin-top: 40px;
          display: flex;
          justify-content: center;
          .circle {
            border: solid 4px $bordo;
            border-radius: 10px;
            margin: 0 5px;
            width: 5px;
            height: 5px;
            opacity: 0.2;
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .slider-items {
        width: 100%;
        height: 100%;
        .slideInner___2mfX9 {
          position: relative;
        }
        .horizontalSlider___281Ls {
          overflow: auto;
        }
        .slide-item {
          height: 100%;
          padding: unset !important;
          margin: 10px 0;
        }
      }
      .back-btn,
      .next-btn {
        width: 50px;
        height: 40px;
        align-self: center;
        border-radius: 30px;
        border: solid 1px white;
        color: $bordo;
        background-color: white;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
        font-size: $font_xl;
        margin: 0 2%;
        &:hover {
          color: white !important;
          background-color: $bordo !important;
        }
      }
    }
    .testimonials {
      height: 100%;
      .content {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.09);
        margin: auto;
        width: 90%;
        padding: 10px 10px;
        .image {
          padding: 10px;
          img {
            width: 80px;
            height: 77px;
            border-radius: 50px;
          }
        }
      }
      .divider {
        height: 1px;
        margin: 15px 0 0 10px;

        background: linear-gradient(to right, $bordo 0%, $bordo 15%, #e4e4e4 15%, #e4e4e4 100%);
      }
      .agent-info {
        padding: 10px;
        margin-top: 15px;
        .agent-name {
          color: $bordo;
        }
        .agent-title {
          color: #666d81;
        }
      }
      .quote {
        margin-left: 10px;
        background-color: $bordo;
        height: 25px;
        width: 25px;
        border-radius: 35px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        color: white;
      }
    }
    .blockquote {
      border-left-color: rgba(0, 0, 0, 0.25);
      color: #666d81;
      line-height: 1.5rem;
      padding: 10px;
      > div {
        overflow-y: auto;
        height: 140px;
      }

      >div::-webkit-scrollbar {
        -webkit-appearance: none;
      }

      >div::-webkit-scrollbar:vertical {
        width: 11px;
      }

      >div::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .consultation-section .us-dv-text-container .btns-container {
    margin-top: 0 !important;
    .link-item {
      padding: 0 15px !important;
    }
  }

}
@media only screen and (max-width: 1300px) {
  .contact-us-btn-container{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .contact-us-btn-container{
    margin-top: 10px;
  }
  .main-page-container {
    button {
      border-radius: 20px;
    }
    .wrapper {
      padding: 0;
    }
    .inner {
      width: 100%;
      max-width: unset;
      padding: 10px;
    }
    .testimonials {
      display: block;
      .content {
        padding: 0.1rem;
      }
    }
    .blockquote {
      border-left: 0;
    }
    .about-us-container {
      .text-container {
        height: auto;
      }
    }
    .home-container {
      .about-us-container {
        height: auto;
      }
    }
    .consultation-section {
      height: 370px;
      background-size: cover;

      .us-dv-text-container {
        margin: 15% 4% 4% 4%;
        height: auto;
        text-align: center;
        .prof {
          font-size: 18px;
        }
        .need {
          font-size: 16px;
        }
        .MuiGrid-container {
          justify-content: center;
        }
        .us-dv-header-text {
          .usa-dv-text {
            font-size: 36px !important;
          }
          .usa-dv-org-text {
            font-size: 30px !important;
          }
        }
      }
      .btns-container {
        justify-content: center;
        margin-top: 0px;
        .link-item {
          padding: 0 30px;
          width: 45%;
          margin-top: 25px;
        }
      }
    }
    .how-do-we-help {
      .description-container {
        width: 100%;
        margin-top: 20px;
        .title {
          font-size: $font_xxxxxxxxxl;
        }
        .body {
          margin: 0 10%;
          line-height: 1.5rem;
        }
      }
    }
    .categories-cards-container {
      padding-bottom: 0;
      max-width: 100% !important;
    }
    .live-work {
      margin-top: 10%;
      padding: 5% 7% 0 5%;
      .text-container {
        padding: 0;
        .link-item.contact-us-btn button {
          width: 45%;
        }
        .title {
          font-size: $font_xxxxxxxxxl;
        }
      }
      .image-container {
        img {
          overflow: unset;
        }
      }
    }
    .our-success-stories {
      margin-top: 10px;
      .title-container {
        .title {
          font-size: $font_xxxxxxxxxl;
        }
        .sub-title {
          margin: 0 5%;
        }
      }
      .testimonials {
        .content {
        }
      }

      .our-success-stories-slider {
        padding-top: 20px;
        width: 95%;
        .back-btn,
        .next-btn {
          margin: 0 10px;
        }
      }
    }
  }
}
