@import "../../variables";

.main-page-container {
    a{
        text-decoration: none;
    }
  .wrapper {
    padding: 1rem 0 6rem 0;
    position: relative;
    z-index: 1;
  }
  .inner {
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
  }
  header.special {
    text-align: center;
    margin-bottom: 4rem;
  }
  .testimonials {
    margin: 2.5rem 0;
    width: 100%;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
  }
  .testimonials .content {
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
  }
  .blockquote {
    border-left: solid 0.5rem;
    font-style: italic;
    margin: 0 0 2rem 0;
    padding: 1rem 0 1rem 2rem;
    border-left-color: rgba(0, 0, 0, 0.25);
  }
  .goto-faq{
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
  }
  .consultation-section{
    background-image: url('../../assests/images/home-back.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 830px;
    width: 100%;
    color: $white;
    font-weight: bold;
    .layer{
      background-color: rgba(185, 15, 255, 0.2);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .us-dv-text-container{
      height: 25%;
      margin: 10%;
      .text{
        font-size: $font_xl;
      }
      .prof{
        margin-bottom: 20px;
      }
      .need{
        margin-top: 20px;
      }
      .us-dv-header-text{
        font-size: $font_xxxxxxxxxxxxxxxxl;
        .usa-dv-text{
          font-size: $font_xxxxxxxxxxxxxxxxxxl;
          font-family: Poppins-SemiBold;
        }
      }
      .btns-container{
        margin-top: 55px;
        .link-item{
          padding-right: 30px;
          width:200px;
          &.apply-now-btn{
            button{
              background-color: $dark-green;
            }
          }
          &.contact-us-btn{
            button{
              background-color: $dark-red;
            }
          }
        }
      }
     
    }

    .us-dv-header{
      font-size: 65px!important;
      font-family: serif;
      font-weight: bolder;
    }
    .text{
      font-size: 3rem;

    }
  } 
  .icon-container{
    image{
      height: 65px;
      width: 65px;
      border-radius: 28px;
    }
    
  }
  .how-do-we-help{
    background-color: $light-gray;
    .description-container{
      margin:auto;
      width:30%;
      text-align: center;
      .title{
        font-weight: bold;
        font-size: $font_xxxxxxxxxxxxxxxxxl;
        padding-top: 70px;
        margin-bottom: 20px;
      }
      .body{
        line-height: 2rem;
      }
    }
  }
  .categories-cards-container {
    max-width: 61%;
    margin-top: 50px;
    padding-bottom: 100px;
    text-align: center;
      .card-container{
        width: 470px;
        .customer-care{
          border-bottom: solid 2px $bordo;
        }
      }
    .text {
      margin-top: 10px;
      font-size: $font_xxl;
      font-weight: bold;
    }
    .sub-text {
      margin-top: 10px;
      font-size: $font_l;
      opacity: 0.6;
      line-height: 1.5rem;
    }
    .more-info {
      width: 100%;
      color: $bordo;
      margin-bottom: 20px;
      font-weight: bolder;
    }
    .more-info:after {
      content: "\2794";
      transition: 0.3s;
      margin-left: 5px;
    }
    .icon-container {
      width: 100%;
      margin: auto;
      margin-bottom: 25px;
      margin-top: 25px;
      .icon-img{
        height: 72px;
        width: 70px;
      }
      .MuiSvgIcon-root {
        margin: auto;
        color: white;
      }
    }
  }

  .live-work {
    // background-color: $light-gray;
    background: linear-gradient(to right,  $light-gray 0%,$light-gray 35%,white 35%,white 100%);
    padding: 5% 20% 0 20%;
    display: flex;
    .text-container{
      padding-left: 50px;
      .link-item{ 
        &.contact-us-btn{
          button{
            background-color: $bordo;
            width: 30%;
          }
        }
      }
      .title{
        font-size: $font_xxxxxxxxxxxxxxl;
        font-weight: bold;
      }
      .body{
        font-size: $font_xxl;
        line-height: 2rem;
        opacity: 0.8;

      }
    }
    .image-container{
      width: 330%;
      height: 510px;  
      .passport-image{
        height: 100%;
      }
      .employes-img{
        position: absolute;
        margin-top: -150px;
        left: 270px;
        width: 19%;
      }
      img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }  
    }

  }
  .our-success-stories{
    margin-top: 150px;
    .title-container{
      text-align: center;
      .title{
        font-size: $font_xxxxxxxxxxxxxxl;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .sub-title{
        margin: 0 36%;
        line-height: 1.5rem;
      }
    }
  }
}


@media only screen and (max-width: 900px) {
    .main-page-container {
        .wrapper{
            padding: 0;
        }
        .inner{
            width: 100%;
            max-width: unset;
            padding: 10px;
        }
        .testimonials {
            display: block;
            .content{
                padding: 0.1rem;
            }
        }
        .blockquote{
            padding: 5px;
            border-left: 0;
        }
        .about-us-container{
            .text-container{
                height: auto;
            }
        }
        .home-container{
            .about-us-container{
                height: auto;
            }
        }

    }

}