@import "../variables";
.home-container {
  main {
    width: 100%;
  }

  .header-container {
    background-image: url("../assests/images/header-info.png");
    justify-content: center;
    display: flex;
    height: 50px;
    background-color: $bordo;
    color: white;
    .apply-btn {
      button {
        width: 80%;
        background-color: #a10532;
        font-weight: bold;
        height: 40px;
      }
    }
    .apply-now {
      align-self: center;
      margin-top: 29px;
      margin-bottom: 20px;
    }
    font-size: $font_xs;
    .MuiSvgIcon-root {
      color: $white;
    }
    .info-container {
      margin: 15px 15px 15px 15px;

      // margin-left: 20%;
      // width: 31%;
      align-self: center;
      .info-section {
        margin-right: 0;
        // @include setGrid(1fr 1fr, 0, null, null, 'columns');
        // align-items: center;
        display: flex;
        > div {
          display: flex;
          align-self: center;
          margin: 0 10px;
          > div {
            align-self: center;
            margin: 0 5px;
          }
        }
        .MuiGrid-item {
          padding: 5px;
        }
      }
    }
    .log-in-out-container {
      margin-left: 10%;
      // width: 13%;
      align-self: center;
      .log-in-out-section {
        display: flex;

        > div {
          display: flex;
          align-self: center;
          margin: 0 10px;
          > div {
            align-self: center;
            margin: 0 5px;
          }
        }
      }
    }
    .apply-now-container {
      .apply-now-section {
        button {
          color: $white;
          background-color: $dark-blue;
          border-radius: 0;
        }
      }
    }
  }
  .header {
    background-color: #212b51;
    border-style: solid;
    border-color: #a10532;
    border-top-width: 3px;
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    border-right: 0;
    color: white;
    border-left: 0;
    position: "relative";
    margin-bottom: 50px;
  }
  .header-content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      align-self: center;
    }
  }

  .consultation-section {
    .consulation-container {
      padding: 20px;
      .text {
        text-align: left !important;
        color: $white;
      }
    }
    .card {
      color: $white;
      background-color: rgba(33, 43, 81, 0.7);
      transition-duration: 0.4s;
      transition-property: background-color, border-color;
    }
  }
  button {
    width: 100%;
    // background-color: $bordo;
    font-weight: bold;
    // margin-top: 10px;
    height: 50px;
  }
  button:hover {
    background-color: $white !important;
    color: $bordo !important;
    border: solid 2px $bordo;
  }
  .visa-categories-title-container {
    margin-bottom: 20px;
    .text {
      font-size: 35px !important;
    }
  }

  .about-us-container {
    height: 600px;
    //background-image: url(https://template66409.motopreview.com/mt-demo/66400/66409/mt-content/uploads/2018/05/mt-1477-home-parallax1.jpg);
    background-image: url("../assests/images/how-we-help-back.jpg");

    // background-position: top;
    background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 100%;
    position: relative;
    .text-container {
      color: white;
      text-align: left;
      position: absolute;
      padding: 50px;
      background-color: #212b51;
      transition-duration: 0.4s;
      transition-property: background-color, border-color;
      width: 25%;
      margin: 50px;
      height: 91%;
      .title {
        font-family: serif;
      }
      .sub-title {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: bold;
      }
      .body {
        margin-bottom: 15px;
        font-size: 20px;
      }
      .footer {
        .need {
          font-size: 20px;
          font-weight: bolder;
          margin-right: 5px;
        }
        font-size: 16px;
      }
    }
  }
  .data-divider {
    height: 100px;
    background: $bordo;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .data-divider {
    &.header {
      height: 5px !important;
      background: $bordo;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  #footer {
    background-color: #212b51;
    background-image: url("../assests/images/footer-bg.png");
    padding: 4rem 0 6rem 0;
    background-repeat: no-repeat;
    .apply-now-container {
      width: 40%;
      margin: 0 auto 0 40%;
      .text-container {
        font-size: $font_xxxxxxxxxxxl;
        font-weight: 600;
        color: $white;
      }
      .btn-container {
        width: 33%;
        margin-top: 20px;
        button {
          background-color: $dark-green;
        }
      }
    }
    .information {
      width: 70%;
      margin: auto;
      margin-top: 13%;
      color: $white;
      .MuiGrid-spacing-xs-3 > .MuiGrid-item{
        padding: 0;
        margin: 12px;
      }
      .logo-info-container {
        width: 70%;
        .logo-title {
          font-weight: 600;
        }
      }
      .links-list-container {
        align-self: flex-start;
        .title {
          font-weight: 600;
          font-size: $font_xl;
          margin-bottom: 20px;
        }
        .item {
          margin-bottom: 5px;
          .arrow {
            font-weight: 600;
          }
        }
        .contact-us-container {
          .row {
            margin-bottom: 10px;
            .email {
              color: $bordo;
              margin-left: 20px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .footer-text-container {
      margin-top: 30px;
      border-top: solid 1px rgba(255, 255, 255, 0.05);

      .text {
        width: 60%;
        margin: auto;
        margin-top: 60px;
        color: $white;
      }
    }
    h3,
    h4 {
      color: #ffffff;
    }
    .content {
      display: flex;
      section:first-child {
        width: 50%;
        padding-right: 4rem;
      }
      section {
        width: 25%;
      }
      section:last-child {
        padding-left: 4rem;
      }
    }
    ul.plain {
      list-style: none;
      padding-left: 0;
    }
    ul.plain li {
      margin-bottom: 1rem;
    }
    ul li {
      padding-left: 0.325rem;
    }
    .copyright {
      border-top: 1px solid;
      font-size: 0.8rem;
      opacity: 0.5;
      padding: 2rem 0;
      text-align: center;
    }
    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }
    ul.alt {
      list-style: none;
      padding-left: 0;
      li {
        border-top-color: rgba(255, 255, 255, 0.25);
        padding: 0.75rem 0;
        border-top: solid 1px;
        padding: 0.75rem 0;
      }
      li:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
    .inner {
      margin: 0 auto;
      width: 75rem;
      max-width: calc(100% - 6rem);
    }
  }
  .apply-now-btn {
    button {
      background-color: #6cbf20;
    }
  }
  .link-item {
    text-decoration: none !important;
    color: white !important;
  }
  .mobile-menu-container {
    display: none;
  }
}
@media only screen and (max-width: 1220px) {
  .header-container {
    .log-in-out-container,
    .apply-now-container {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 500px) {
  .home-container {
    .live-work {
      .image-container {
        width: 85% !important;
      height: 510px !important;
      margin: 0!important;
      margin-left: 18%!important;;
        .employes-img {
          left: 5% !important;
          width: 30% !important;
        }
      }
      .text-container{
        margin-top: 40px!important;
      }
    }
  }
  #footer {
    padding: 0!important;
    .apply-now-container{
      width: 100%!important;
      background-color: #a00632;
      .btn-container{
        padding-bottom: 10px;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .home-container {
    .mobile-menu-container {
      display: unset;
      .link-item {
        color: $bordo !important;
      }
      .menu-btn-logo-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        .logo-img {
          button {
            font-size: $font_xxxxxxxxxxxl;
          }
        }
        > div {
          align-self: center;
        }
      }
    }
    .menu-btn {
      background-color: unset;
      width: unset;
      .MuiSvgIcon-root {
        font-size: 3.5rem;
      }
    }
    .home-menu-grid {
      display: none;
    }
    .live-work {
      padding: 5% 5% 0 10%!important;
      display: block !important;
      .body {
        font-size: 1rem !important;
      }
      .text-container{
        margin-top: 60px;
      }
      .about-us-container {
        height: 600px !important;
        width: 100%;
      }
      .image-container {
        width: 85% !important;
        height: 510px !important;
        margin: auto;
        .employes-img {
          left: 10% !important;
          width: 25% !important;
          min-width: 200px;
        }
      }
    }
    .about-us-container {
      // height: 200px;
      height: auto;
      background-image: unset;
      .data-divider {
        // height: 100%;
      }
      .text-container {
        width: unset;
        margin: 10px;
        padding: 10px;
      }
    }
    #footer {
      padding: 10px;
      .inner {
        width: unset;
        max-width: unset;
      }
      padding: 10px;
      .content section:last-child {
        padding-left: 1rem;
      }
      .content section:first-child {
        width: 50%;
        padding-right: 1rem;
      }
      .apply-now-container{
        width: 100%;
        margin: 0;
        width: 80%;
        margin: auto;
        text-align: center;
        .text-container{
          font-size: $font_xxxxl;
        }
        .btn-container{
          text-align: center;
          width: 100%;
          button{
            border-radius: 30px;
            width: 50%;
          }
        }
      }
      .information{
        width: 100%;
        padding: 0 10px;
      }
    }
  }
  .info-container {
    margin: 0 !important;
    .info-section {
      > div {
        margin: 0 0 !important;
        > div {
          margin: 0 5px !important;
        }
      }
      .MuiGrid-item {
        padding: 0 !important;
      }
    }
  }
}

