@import "../variables";
.home-container {

  .info-container {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 90%;
  }
  .header-container {
    display: flex;
    .apply-btn{
      button{
        width: 80%;
      background-color: #a10532;
      font-weight: bold;
      height: 40px;
      }
    }
    .apply-now {
      align-self: center;
      margin-top: 29px;
      margin-bottom: 20px;
    }
  }
  .header {
    background-color: #212b51;
    border-style: solid;
    border-color: #a10532;
    border-top-width: 3px;
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    padding: 0;
    margin: 0;
    border-bottom: 0;
    border-right: 0;
    color: white;
    border-left: 0;
    position: "relative";
    margin-bottom: 50px;
  }
  .header-content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      align-self: center;
    }
  }
  .info-section {
    margin-right: 0;
    // @include setGrid(1fr 1fr, 0, null, null, 'columns');
    // align-items: center;
    .MuiSvgIcon-root {
      color: $bordo;
      font-size: $font_xxxxxxxl;
    }
  }
  .consultation-section {
    background-image: url(https://template66409.motopreview.com/mt-demo/66400/66409/mt-content/uploads/2018/05/mt-1477-home-header-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: $white;
    font-weight: bold;

    .consulation-container {
      padding: 20px;
      .text {
        text-align: left !important;
        color: $white;
      }
    }
    .card {
      color: $white;
      background-color: rgba(33, 43, 81, 0.7);
      transition-duration: 0.4s;
      transition-property: background-color, border-color;
    }
  }
  button {
    width: 100%;
    background-color: $bordo;
    font-weight: bold;
    // margin-top: 10px;
    height: 50px;
  }
  button:hover {
    background-color: $white !important;
    color: $bordo !important;
    border: solid 2px $bordo;
  }
  .visa-categories-title-container {
    margin-bottom: 20px;
    .text {
      font-size: 35px !important;
    }
  }
  .categories-cards-container {
    margin-top: 40px;
    .text {
      margin-top: 10px;
      font-size: 20px;
    }
    .sub-text {
      margin-top: 10px;
      font-size: 15px;
      opacity: 0.6;
      //text-align: left;
    }
    .more-info {
      width: 100%;
      color: $bordo;
      margin-bottom: 20px;
      font-weight: bolder;
    }
    .more-info:after {
      content: "\2794";
      transition: 0.3s;
      margin-left: 5px;
    }
    .icon-container {
      height: 50px;
      width: 50px;
      background: $bordo;
      border-radius: 50px;
      margin: auto;
      display: flex;

      align-items: center;

      .MuiSvgIcon-root {
        margin: auto;
        color: white;
      }
    }
  }
  .home-menu-grid {
    border-top: 1px solid #dbdcdc;
    padding: 10px 0;
    background-color: #212b51;
  }

  .about-us-container {
    height: 600px;
    background-image: url(https://template66409.motopreview.com/mt-demo/66400/66409/mt-content/uploads/2018/05/mt-1477-home-parallax1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    width: 100%;
    position: relative;
    .text-container {
      color: white;
      text-align: left;
      position: absolute;
      padding: 50px;
      background-color: #212b51;
      transition-duration: 0.4s;
      transition-property: background-color, border-color;
      width: 50%;
      margin: 50px;
      .title{
        font-family: serif;
      }
      .sub-title {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: bold;
      }
      .body {
        margin-bottom: 15px;
      }
      .footer {
        .need {
          font-size: 20px;
          font-weight: bolder;
          margin-right: 5px;
        }
        font-size: 16px;
      }
    }
  }
  .data-divider {
    height: 100px;
    background: $bordo;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .data-divider {
    &.header {
      height: 5px !important;
      background: $bordo;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .live-work {
    height: auto;

    .about-us-container {
      background-image: unset;
      position: relative !important;
      height: 450px !important;

      .text-container {
        padding: 10px;
        background-color: unset;
      }

      .title {
        font-size: 30px;
      }
      .body {
        font-size: 20px;
      }
    }
  }
  #footer {
    background-color: #212b51;
    color: rgba(255, 255, 255, 0.5);
    padding: 8rem 0 6rem 0;
    h3,h4{
      color: #ffffff;
    }
    .content {
      display: flex;
      section:first-child {
        width: 50%;
        padding-right: 4rem;
      }
      section {
        width: 25%;
      }
      section:last-child {
        padding-left: 4rem;
      }
    }
    ul.plain {
      list-style: none;
      padding-left: 0;
  }
  ul.plain li {
    margin-bottom: 1rem;
}
ul li {
  padding-left: 0.325rem;
}
    .copyright {
      border-top: 1px solid;
      font-size: 0.8rem;
      opacity: 0.5;
      padding: 2rem 0;
      text-align: center;
    }
    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }
    ul.alt {
      list-style: none;
      padding-left: 0;
      li {
        border-top-color: rgba(255, 255, 255, 0.25);
        padding: 0.75rem 0;
        border-top: solid 1px;
        padding: 0.75rem 0;
      }
      li:first-child {
        border-top: 0;
        padding-top: 0;
      }
    }
    .inner {
      margin: 0 auto;
      width: 75rem;
      max-width: calc(100% - 6rem);
    }
  }
  .apply-now-btn{
    button{
        background-color: #6cbf20;
    }
  }
  .link-item {
    text-decoration: none !important;
    color: white !important;
  }
}
@media only screen and (max-width: 900px) {
    .home-container {
      .home-menu-grid{
        display: none;
      }
      .live-work{
        .body{
          font-size: 1rem!important;
        }
        .about-us-container {
        height: 600px!important;
        }
      }
      .about-us-container {
        height: 200px;
        background-image: unset;
        .data-divider{
          // height: 100%;
        }
        .text-container {
          width: unset;
          margin:10px;
          padding: 10px;
        }
      }
      #footer{
        padding: 10px;
        .inner{
          width: unset;
          max-width: unset;
        }
        padding: 10px;
         .content section:last-child {
          padding-left: 1rem;
      }
      .content section:first-child {
        width: 50%;
        padding-right: 1rem;
    }
      }
    }
}