.tabs-pages {
    .body-title{
        font-size: 48px;
        width: 100%;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }
      .body-sub-title{
        font-size: 18px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        padding-bottom: 20px;
      }
  .live-work {
    padding-top: 50px;

    // background-color: $light-gray;
    // padding: 5% 15% 0 15%;
    width: 70%;
    margin: auto;
    padding: 5% 13% 0 13%;
    display: flex;
    .text-container {
      width: 100%;
      padding-left: 50px;
      .link-item {
        &.contact-us-btn {
          button {
            background-color: $bordo;
            width: 200px;
          }
        }
      }
      .title {
        font-size: $font_xxxxxxxxxl;
        font-weight: 600;
      }
      .body {
        font-size: $font_xxl;
        line-height: 2rem;
        opacity: 0.8;
        font-weight: 400;
      }
    }
    .image-container {
      background: linear-gradient(to right, $light-gray 0%, $light-gray 35%, white 35%, white 100%);

      width: 85%;
      overflow: unset !important;
      .vertical-us-dv {
        color: #f5f5f5;
        letter-spacing: 8px;
        font-size: 50px;
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(180deg);
        white-space: nowrap;
        display: block;
        bottom: 0;
        height: 68%;
      }
      height: 510px;
      overflow: hidden;
      .passport-image {
        height: 100%;
        display: flex;
        width: 90%;
      }
      .employes-img {
        position: absolute;
        margin-top: -150px;
        left: 16%;
        width: 19%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
    margin-bottom: 80px;
  }
  @media only screen and (max-width: 1000px) {
    .about-green-card {
      .live-work {
        width: unset;
        margin-top: 10%;
        padding: 5% 7% 0 5%;
        margin-bottom: 0px;
        .text-container {
          margin-top: 0px;
          padding: 0;
          .link-item.contact-us-btn button {
            width: 45%;
          }
          .title {
            font-size: $font_xxxxxxxxxl;
          }
        }
        .image-container {
          overflow: unset;
          img {
            width: 95%;
            overflow: unset;
          }
          .vertical-us-dv {
            letter-spacing: 8px;
            height: 55%;
          }
        }
      }
    }
  }
}
